

%form {
	@extend %reset;
	padding: 15px;
	@extend .center;
	width: 100%;
	
	input:first-child {
		padding-top: 5px;
		//margin-left: 0px;
	}
	
	
	
	input + label {
		padding-top: 5px;
	}
	input + input {
		padding-top: 5px;
	}
	
	
}

%label {
	//@extebd .center;
	//display: inline-block;
	//text-align: right;
	width:95%;
	padding-bottom:10px;
	//margin-bottom: 5px;
	
}

%submit {
	//width:80%;
	cursor: pointer;
	padding: 3px;
	outline: none;
	//background-color:
	color: lighten (red, 20%);
	@include border(grey,3px);
}

%input {
	height: 40px;
	width: 80%;
	
	@extend .center;
	padding: 2px 5px 2px 5px;
	margin-top: 4px;
	
}

%textArea {
	height: 175px;
	//vertical-align: top;
	text-align: top;
}



%formDiv {
	@include border(orange);
	@extend .center;
	width:85%;
	@media (max-width:800px){
		width:90%;
	}
	@media (max-width:500px){
		width:96%;
	//	padding: 7px;
	}
	
}

#itemSearch {
	@extend %formDiv;
	@extend %background-color;
}

#emailAddressForm {
//	@extend .hide;
}

 #contactForm {
	margin-top: 16px;
	@extend %formDiv;
	background-color: $background;
	@media (max-width:500px){
		width:98%;
	}
}


.required {
	vertical-align: top;
	//color: grey;
}

form {
	@extend %form;
	@media (max-width:800px){
		width:90%;
	}
	@media (max-width:500px){
		width:98%;
	}
	
}
input {
	border-radius: 4px;
	@extend %input;
	
//	&[type=text]{
//		margin-bottom: 7px;
//	}
	&[type=range]{
		margin-bottom: 7px;
	}
	@media (max-width:800px){
		width:75%;
	}
	@media (max-width:500px){
		//width:96%;
	}
	&[type=textarea] {

		@extend %textArea;
	}
	
	@extend .center;
	&:hover {
		background-color: $background;
	}
	//&:select {
	//	background-color: $background;
	//}
	&[type=submit]{
		@extend %submit;
		//width: 90%;
		
		//@extend .center;
		width: 80%;
		padding-top: 5px;
		margin-top: 5px;
		&:hover {
			border-bottom-width: 4px;
			margin-top:2px;
			color:white;
			background-color: red;
		}
		&:active, &:focus {
			border-bottom-width: 1px;
			margin-top: 2px;
			color:white;
			background-color: red;
		}
	}
}
label {
	@extend %label;
	&[for=e] {
		//display:block;
	}
	&[for=subject]{
		margin-left: 9px;
	}
	&[for=e]{
		margin-left:32px;
	}
	.emailSymbol {
		margin-left:9px;
		margin-right:0px !important;
	}
}


#formEmailSymbol {
	margin: 3px;
	padding-bottom:1px !important;
	
	
}

#labelContact {
@extend .center;
&:after {
			@media (max-width:420px){
		content : "Chris";
		
	}
		}
		
		
		@media (max-width:670px){
			
		}
	display: block;
	width: 100%;
}


#emailSubmit {
	@extend .center;
	//width: 95%;
	width:50%;
}

#emailAddressForm {
	@extend .hide;
}

#contactFormInput {
	
	//label, input {
	//	float: left;
	//}
	//display: block;
	
}

