.nav {
        float: right;
        @extend %removeFloat;
        order:2;
         align-self: center;
         ul {
            
        @extend %flex-box;
		  flex-direction: column;
		  flex-wrap: wrap;
		  align-items: center;
     @media (max-width:420px){
        width:100%;
        padding: 0;
        
     }
         }
		 li {
    @media (max-width:420px) and  (min-width:200px){
	width:100%;
            float:none;
           // padding-bottom: 0;
            
         }
    &:first-child {
        padding-left: 12px;
    }
     padding-top: 10px;
     @extend .padding-bottom-10;
         float: left;
         text-align: center;
         @media (max-width:350px){
            display: block;
            float:none;
            width:100%;
           padding-bottom: 0;
         }
         
     }
     li + li {
         padding-left: 12px;
         @media (max-width:400px){
          padding-top: 8px;
         }
         
         
     }
     a {
          padding-bottom: 5px;
          padding-top: 5px;
          text-decoration: none;
		  @include border(grey, 2px, thin, solid);
      background-color: orange;
      padding: 5px;
      //border-radius: 2px;
       @media (max-width:420px) and  (min-width:200px){
            display: block;
            float:none;
            width:200px;
           // padding-bottom: 0;
            
         }
     }
     a:hover, a:active {
          color: red;
     }
    
        
     }