#tabs-3 {
	//height: 1500px;
    #gallery1 {
        @extend %gallery;
		order: 1;
		@extend .left;
		//align-self: center;
    }
    
    #gallery2 {
        @extend %gallery;
		@extend .right;
		padding-left: 7px;
		order: 2;
		//align-self: center;
    }
	
	
	
}

#workFlex {
	display: flex;
	@extend %flex-box;
	@media (max-width: 800px){
		flex-direction: column;
		flex-wrap: wrap;
	}
	
}



#slider {
	//height:40px;
	//margin: 15px;
	width:inherit;
}

%gallery {
	display:inline-block;
	vertical-align:baseline;
	width:50%;
	@media (max-width:800px){
		width:95%;
	}
    ul {
        width: 100%;
        //@extend .center;
		height: 95%;
        li {
		//height: 350px;
            padding: 6px;
            margin:6px;
			width: 95%;
			//@extend .center;
		}
		figure {
			
			img {
				
				width:95%;
				//height:250px;
				//@extend .center;
			}
			figcaption {
				@include border(grey, 2px, thin, solid);
				padding: 3px;
				background-color: $tab-background;
				text-align: center;
				.title {
				   font-size: 17px;
					font-weight:500;
				}
				.price {
				 font-size: 12px;
					background-color: green;
					@include border(green, 2px, thin, solid);
					padding: 5px;
					color: white;
				}
				.description {
					
				}
			}
		}
    }
    
}