form {
		@extend %form;
		@media (max-width:800px){
			width:90%;
		}
	}
	input {
		border-radius: 4px;
		@extend %input;
		&[type=text]{
			margin-bottom: 7px;
		}
		&[type=range]{
			margin-bottom: 7px;
		}
		@media (max-width:800px){
			width:90%;
		}
		@extend .center;
	}
	label {
		@extend %label;
	}
	input[type=submit]{
		@extend %submit;
		//width: 90%;
		@extend .center;
		width: 80%;
	}